@charset "UTF-8";

table.calendrier {
	display: block;
	width: 100%;
}

table.calendrier tbody {
	display: block;
	width: 100%;
}

table.calendrier tr {
	display: block;
	width: 100%;
}

td.calendrier-case {
	background-color: #f5f5f5;
}

table.calendrier td, table.calendrier th {
	display: inline-block;
	width: calc((100% - 30px) / 7);
	margin-bottom: 6px;
}

td.calendrier-case-header {
	display: inline-block;
	width: 40px;
	margin-bottom: 6px;
	text-align: center;
}

td.mois-courant {
	background-color: white;
}

td.aujourdhui {
	background-color: #f0ece0;
}
	
td.calendrier-case div.card {
	display: inline-block;
	width: 40px;
	height: 40px;
}

div.calendrier-case-contenu {
	margin: 10px;
}

div.calendrier-case-jour {
	text-align: center;
	color: red;
}

.calendrier .card {
	font-size: 14px;
}

.calendrier .card .grille {
	font-size: 12px;
}

.curseur-mois {
	font-family: "Ubuntu Bold";
	font-size: 16px;
	color: #00368E;
	text-align: center;
	margin-bottom: 20px;
}