@charset "UTF-8";

table.calendrier {
	display: block;
	width: 100%;
}

table.calendrier tbody {
	display: block;
	width: 100%;
}

table.calendrier tr {
	display: block;
	width: 100%;
}

td.calendrier-case {
	background-color: #EEE;
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
}

table.calendrier td, table.calendrier th {
	display: inline-block;
	width: calc((100% - 30px) / 7);
	margin-bottom: 6px;
}

td.calendrier-case-header {
	display: inline-block;
	width: 40px;
	margin-bottom: 6px;
	text-align: center;
}

td.mois-courant {
	background-color: white;
}
	
td.calendrier-case div.card {
	display: inline-block;
	width: 40px;
	height: 40px;
}

div.calendrier-case-contenu {
	display: block;
	width: 100%;
	height: 100%;
}

div.calendrier-case-jour {
	display: block;
	width: 100%;
	text-align: center;
	line-height: 20px;
	color: #024b8a;
}

.calendrier .card {
	font-size: 14px;
}

.calendrier .card .grille {
	font-size: 12px;
}

.curseur-mois {
	font-family: "Ubuntu Bold";
	font-size: 16px;
	color: #00368E;
	text-align: center;
	margin-bottom: 20px;
}

a.detailGrille {
	margin: 5px;
	padding: 5px 0 5px 0;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 20px;
}

a.grilleOK {
	background-color: #7eea73;
}

a.grilleKO {
	background-color: #f18588;
}

a.grilleMid {
	background-color: #ffee8a;
}

td.aujourdhui a {
	border: solid 2px #024b8a;
	padding-left: 0px;
	padding-top: 3px;
}