.well {
	background-color: white;
}

.pointer {
	cursor: pointer;
}

.main-text-blue {
	color: #00368E;
}

a.main-text-blue:hover {
	color: #2056AE;
}

.main-text-gold {
	color: #FCB749;
}

a.main-text-gold:hover {
	color: #FCD769;
}

.main-background-blue {
	background-color: #00368E;
}

.main-background-gold {
	background-color: #FCB749;
}

@font-face {
	font-family: Ubuntu;
	src: url('font/dm_1529324638_ubuntu-regular.woff') format('woff');
}
@font-face {
	font-family: "Ubuntu Medium";
	src: url('font/dm_1529324638_ubuntu-medium.woff') format('woff');
}

@font-face {
	font-family: "Ubuntu Bold";
	src: url('font/dm_1529324638_ubuntu-bold.woff') format('woff');
}


* {
	font-family: Ubuntu;
}

body {
	background-color: #00368E;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Ubuntu Medium";
	color: #FCB749;
}

.nav-item {
	padding: 10px;
}

.nav-link {
	color: #FCB749;
}

.nav > li > a:hover, .nav > li > a:focus, .dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, li.dropdown.open > a, li.nav-item.open > a.nav-link {
	color: #FCD769;
	background-color: #2056AE;
}

ul.dropdown-menu {
	margin-left: 10px;
	border: solid 1px #00368E;
	background-color: #2056AE;
}

ul.dropdown-menu a {
	color: #FCD769;
}

ul.dropdown-menu a:hover {
	color: #FCB749;
	background-color: #00368E;
}

.header-hr {
	border-color: #FCB749;
	width: 90%;
	margin: auto;
	margin-top: 10px;
}

.well form label {
	color: #00368E;
}

.well form input, .well form select {
	border: solid 1px #00368E;
}

.well form input {
	margin-bottom: 10px;
	border-radius: 4px;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

.well form select option {
	color: #00368E;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

option:checked {
	color: #FCB749;
	background-color: #00368E; 
}

label.radio {
	display: inline-block;
	margin-left: 4em;
	cursor: pointer;
}

label.radio.premier {
	margin-left: 20px;
}

.btn-blue {
	border: solid 1px #FCB749;
	font-family: "Ubuntu";
	color: #FCB749;
	background-color: #00368E; 
	border: solid 1px #FCB749;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
	color: #FCD769;
	background-color: #2056AE;
}

table {
	background-color: white;
}

table td {
	margin: 0;
}

table th {
	color: #FCB749;
	background-color: #00368E;
}

#table_gagnants *, #table_logs * {
	font-size: 12px;
}

.boule, .etoile {
	font-family: "Ubuntu Bold";
	display: inline-block;
	padding-top: 10px;
	height: 40px;
	width: 40px;
	text-align: center;
	margin-right: 20px;
	font-size: 18px;
}

.boule {
	background: url('img/boule.png');
}

.etoile {
	background: url('img/etoile.png');
}

h4 {
	text-align: center;
	margin: 40px;
}

.mymillion .code {
	font-family: "Ubuntu Bold";
	color: #2056AE;
}

.pagination {
	display: block;
	text-align: center;
	width: 100%;
}

.pagination a {
	color: #FCB749;
}

.pagination a:hover {
	color: #FCD769;
}

.checkbox-boule-container, .checkbox-etoile-container {
	display: block;
	width: 40px;
	height: 40px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-boule-container input, .checkbox-etoile-container input {
	display: none;
}

.checkmark-boule, .checkmark-etoile {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	z-index: 1;
}

.checkbox-boule-container:hover input ~ .checkmark-boule {
	background: url('img/boule-grisee.png');
}

.checkbox-boule-container input:checked ~ .checkmark-boule {
	background: url('img/boule.png');
}

.checkbox-etoile-container:hover input ~ .checkmark-etoile {
	background: url('img/etoile-grisee.png');
}

.checkbox-etoile-container input:checked ~ .checkmark-etoile {
	background: url('img/etoile.png');
}

.checkbox-boule-container .numero, .checkbox-etoile-container .numero {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	padding: 10px;
	z-index: 2;
	cursor: pointer;
}

.titre-grille {
	font-size: 2em;
}

.placeholder {
	cursor: pointer;
}

.btn-edit-container {
	display: inline-block;
	min-width: 20px;
	margin-left: 1em;
}

.btn-edit {
	color: #2056AE;
}

.btn-confirm, .btn-cancel {
	margin-left: 10px;
}

.modifiable .form-control {
	min-width: 60%;
}