@font-face {
	font-family: Ubuntu;
	src: url('font/dm_1529324638_ubuntu-regular.woff') format('woff');
}
@font-face {
	font-family: "Ubuntu Medium";
	src: url('font/dm_1529324638_ubuntu-medium.woff') format('woff');
}

@font-face {
	font-family: "Ubuntu Bold";
	src: url('font/dm_1529324638_ubuntu-bold.woff') format('woff');
}


* {
	font-family: Ubuntu;
}

body {
	padding-top: 50px;
	background-color: #1086c5;
}

.well {
	background-color: white;
}

.pointer {
	cursor: pointer;
}

.main-text-blue {
	color: #024B8A;
}

a.main-text-blue:hover {
	color: #2056AE;
}

.main-text-gold {
	color: #FCB749;
}

a.main-text-gold:hover {
	color: #FCD769;
}

.main-background-blue {
	background-color: #024B8A;
}

.main-background-gold {
	background-color: #FCB749;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Ubuntu Medium";
	color: #FCB749;
}

.header-hr {
	border-color: #FCB749;
	width: 90%;
	margin: auto;
	margin-top: 10px;
}

.well form label {
	color: #024B8A;
}

.well form input, .well form select {
	border: solid 1px #024B8A;
}

.well form input {
	margin-bottom: 10px;
	border-radius: 4px;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

.well form select option {
	color: #024B8A;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

option:checked {
	color: #FCB749;
	background-color: #024B8A; 
}

/*label.radio {
	display: inline-block;
	margin-left: 4em;
	cursor: pointer;
}

label.radio.premier {
	margin-left: 20px;
}*/

.btn-blue {
	border: solid 1px #FCB749;
	font-family: "Ubuntu";
	color: #FCB749;
	background-color: #024B8A; 
	border: solid 1px #FCB749;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
	color: #FCD769;
	background-color: #2056AE;
}

/*table {
	background-color: white;
}

table td {
	margin: 0;
}

table th {
	color: #FCB749;
	background-color: #024B8A;
}*/

#table_gagnants *, #table_logs * {
	font-size: 12px;
}

.boule, .etoile {
	font-family: "Ubuntu Bold";
	display: inline-block;
	padding-top: 10px;
	height: 40px;
	width: 40px;
	text-align: center;
	margin-right: 20px;
	font-size: 18px;
}

.boule {
	background: url('img/boule.png');
}

.etoile {
	background: url('img/etoile.png');
}

h4 {
	text-align: center;
	margin: 40px;
}

.mymillion .code {
	font-family: "Ubuntu Bold";
	color: #2056AE;
}

.pagination {
	display: block;
	text-align: center;
	width: 100%;
}

.checkbox-boule-container, .checkbox-etoile-container {
	display: block;
	width: 40px;
	height: 40px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-boule-container input, .checkbox-etoile-container input {
	display: none;
}

.checkmark-boule, .checkmark-etoile {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	z-index: 1;
}

.checkbox-boule-container:hover input:enabled ~ .checkmark-boule {
	background: url('img/boule-grisee.png');
}

.checkbox-boule-container input:checked ~ .checkmark-boule {
	background: url('img/boule.png');
}

.checkbox-etoile-container:hover input:enabled ~ .checkmark-etoile {
	background: url('img/etoile-grisee.png');
}

.checkbox-etoile-container input:checked ~ .checkmark-etoile {
	background: url('img/etoile.png');
}

.checkbox-boule-container .numero, .checkbox-etoile-container .numero {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	padding: 10px;
	z-index: 2;
	cursor: pointer;
}

.disabled {
	cursor: default !important;
}

.btn.disabled {
	cursor: not-allowed !important;
}

.titre-grille {
	font-size: 2em;
}

.placeholder {
	cursor: pointer;
}

.btn-edit-container {
	display: inline-block;
	min-width: 20px;
	margin-left: 1em;
}

.btn-edit {
	color: #2056AE;
}

.btn-confirm, .btn-cancel {
	margin-left: 10px;
}

.modifiable .form-control {
	min-width: 60%;
}

.popupSucces, .popupEchec {
	position: absolute;
	right: 20px;
	bottom: 20px;
	display: block;
	min-width: 20%;
	height: 3em;
	padding: 1em;
	border-radius: 4px;
	vertical-align: middle;
	cursor: pointer;
	display: none;
}

.popupEchec {
	background-color: #f2dede;
	border: solid 1px #a94442;
}

.popupSucces {
	background-color: #DFF0D8;
	border: solid 1px #3C763D;
}


.sidebar {
  display: none;
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.main {
  padding-top: 20px;
}

.main .page-header {
  margin-top: 0;
}

@media (min-width: 768px) {
	#logo {
	  position: fixed;
	  top: 0;
	}
	
	.sidebar {
	  position: fixed;
	  top: 51px;
	  bottom: 0;
	  left: 0;
	  z-index: 1000;
	  display: block;
	  padding: 20px;
	  overflow-x: hidden;
	  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	  background-color: #f5f5f5;
	  border-right: 1px solid #eee;
	}
	
	.main {
	  /*padding-right: 40px;*/
	  /*padding-left: 40px;*/
	}
}

.navbar-title {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
}

.subnav li a {
	padding-left: 60px;
}

.moisEtoileGain {
	display: inline-block;
	background: url('img/etoile.png') #D02020 2px 2px no-repeat;
	border-radius: 14px;
	background-size: 14px;
	min-height: 18px;
	min-width: 18px;
	position: relative;
	top: -30px;
	left: 12px;
	margin-left: 5px;
}

.soldePositif {
	font-size: 2.5em;
	font-style: italic;
	color: #11db44;
}

.soldeNegatif {
	font-size: 2.5em;
	font-style: italic;
	color: #f84518;
}

.monospace *{
	font-family: monospace;
}

#tableauGainsGrilles {
	display: none;
}

.detailHistorique {
	float: right;
	margin-right: 1em;
}

@media (min-width: 768px) {
	#alertes {
		position: fixed;
		display: none;
		height: 100%;
		width: 100%;
	  	z-index: 2000;
	  	background: rgba(128, 128, 128, 0.5);
	  	margin-left: -30px;
	  	margin-top: -20px;
	}
}